.categorybg{
    background:radial-gradient(circle, rgb(231, 48, 198) 0%, rgb(243, 176, 18) 100%);
    
    
}

@font-face {
    font-family:PressStart2P ;
    src: url(../../public/VT323-Regular.ttf);
}

.cardTitle{
    font-family: VT323;
    font-size: 1.7rem;
    color: aliceblue;

}