.green{
    background-color:#35ca92;
    
    
}

@font-face {
    font-family:PressStart2P ;
    src: url(../../public/PressStart2P-Regular.ttf);
}

.newFont{
    font-family: PressStart2P;
    font-weight: 500;
    color: #fff;
}
